    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif; /* Здесь сможете стил шрифта поменять */
    }
    
    .wrapper {
        width: 90%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
    
    .wrapper>h1 {
        width: 50%;
        color: #fff; /* Здесь сможете цвет шрифта поменять (Онлайн займы на карту В течение 10 минут, только по одному паспорту и удобным способом) */ 
        font-size: 50px;
        text-align: left;
    }
    
    .wrapper>h1>span {
        text-align: left;
        font-size: 30px;
    }
    
    .container {
        width: 50%;
        background-color: #664aff; /* Здесь общый цвет который держить инфо можно поменять */
        padding: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        opacity: .9;
    }
    
    body {
        font-family: 'Montserrat', sans-serif;  /* Здесь сможете стил шрифта поменять */
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        text-align: center;
        background-image: url('image.jpg'); /* Здесь сможете фон поменять */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .first,
    .second {
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: space-around;
        align-items: center;
        margin: 20px auto;
    }
    
    .output h1 {
        text-align: center;
        color: #fff; /* Здесь цвет шрифта поменять (Сумма займа: 15000₽
        День займа: 75 дней)*/
        font-size: 23px;
        padding: 10px;
    }
    
    .href {
        transition: all 1s ease;
        width: 80%;
        height: 60px;
        background-color: #fff; /* Здесь задный фон кнопка(button)(Получить деньги) поменять*/
        border-radius: 20px;
        color: #664aff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .href a {
        text-decoration: none;
        color: #664aff;
        font-weight: 700;
        font-size: 20px;
        /* font-weight: 100; */
    }
    
    .href:hover {
        background-color: #ffffff;
        color: rgb(22, 0, 83);
        transition: all 1s ease;
        box-shadow: 0px 0px 10px #fff;
    }
    
    .first h4,
    .second h4 {
        width: 18%;
        background-color: #fff;
        height: 80px;
        display: flex;
        align-items: center;
        color: #664aff;
        justify-content: center;
        font-size: 15px;
    }
    
    .first h4:nth-child(1),
    .second h4:nth-child(1) {
        border-radius: 10px 0px 0px 10px;
    }
    
    .first h4:nth-child(3),
    .second h4:nth-child(3) {
        border-radius: 0px 10px 10px 0px;
    }
    
    .range {
        position: relative;
        height: 80px;
        width: 80%;
        background: #fff;
        /* border-radius: 10px; */
        padding: 0 10px 0 10px;
    }
    
    .range .field {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    .range .field .value {
        /* z-index: -1; */
        position: absolute;
        font-size: 18px;
        font-weight: 600;
        color: #664aff;
    }
    
    .range .value>h3:nth-child(1) {
        left: 0;
        position: absolute;
    }
    
    .range .sliderValue {
        position: relative;
        width: 100%;
        /* height: 20px; */
    }

    
    .range .sliderValue span {
        top: -40px;
        position: absolute;
        height: 40px;
        width: 40px;
        color: #fff;
        font-weight: 500;
        font-size: 10px;
        transform: translateX(-50%) scale(0);
        transform-origin: bottom;
        transition: transform 0.3s ease-in-out;
        line-height: 55px;
        z-index: 2;
    }
    
    .range .sliderValue span.show {
        transform: translateX(-50%) scale(1);
    }
    
    .range .sliderValue span::after {
        position: absolute;
        content: "";
        height: 45px;
        width: 45px;
        background: #664aff;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        border: 3px solid #fff;
        z-index: -1;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }
    
    .range .field input::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        background: #664aff;
        border-radius: 50%;
        border: 1px solid #664aff;
        cursor: pointer;
    }
    
    .range .field input::-moz-range-progress {
        background: #664aff;
    }
    
    .range .field .value .left {
        left: -22px;
    }
    
    .range .field .value .right {
        right: -43px;
    }
    
    .range .field input {
        -webkit-appearance: none;
        height: 3px;
        width: 100%;
        background: #ddd;
        border-radius: 5px;
        outline: none;
        border: none;
    }
    
    .main_header {
        text-align: center;
        font-size: 32px;
        font-weight: 500;
        color: rgb(255, 255, 255);
    }
    
    @media screen and (max-width: 900px) {
        .wrapper {
            flex-direction: column;
        }
        .wrapper>h1 {
            width: 75%;
            padding: 10px;
            margin: 30px auto;
            font-size: 35px;
        }
        .wrapper>h1>span {
            font-size: 25px;
        }
        .container {
            margin-top: 40px;
            width: 80%;
        }
        .container h1 {
            font-size: 20px;
        }
    }
    
    @media screen and (max-width:500px) {
        .wrapper>h1 {
            width: 75%;
            padding: 10px;
            margin: 30px auto;
            font-size: 30px;
        }
        .wrapper>h1>span {
            font-size: 25px;
        }
        .container {
            margin-top: 40px;
            width: 98%;
        }
        .main_header {
            font-size: 25px;
        }
        .first h4,
        .second h4 {
            font-size: 11px;
        }
        .container h1 {
            padding: 10px;
            font-size: 20px;
        }
    }